<h1>Nova Musica</h1>

<%= form_with model: @music do |form| %>
  <div class="field">
    <%= form.label :name, 'Nome' %>
    <br>
    <%= form.text_field :name %>
    <p></p>
  </div>

  <div class="field">
    <%= form.label :explicit, 'Explicito (digite true ou false)' %>
    <br>
    <%= form.text_field :explicit %>
    <p></p>
  </div>

  <div class="field">
    <%= form.label :album_id, 'Album' %>
    <br>
    <%= form.select :album_id, options_for_select(@albums.map { |album| [album.name, album.id] }) %>
    <p></p>
  </div>

  <div class="field">
    <%= form.label :musical_genre_id, 'Genero Musical' %>
    <br>
    <%= form.select :musical_genre_id, options_for_select(@musical_genres.map { |genre| [genre.name, genre.id] }) %>
    <p></p>
  </div>

  <div class="actions">
    <%= form.submit "Criar musica" %>
  </div>
<% end %>

<%= link_to 'Voltar', musics_path %>